<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% block title %} PAGE TITLE GOES HERE {% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

<!-- Le styles -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="/static/js/bower_components/flexslider/flexslider.css">
<link rel="stylesheet" href="/static/js/bower_components/angular-motion/dist/angular-motion.min.css"> 
<link rel="stylesheet" href="/static/js/bower_components/bootstrap/dist/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="/static/js/bower_components/bootstrap/dist/css/bootstrap-theme.css">

<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<!-- Apple touch icon -->
<link rel="apple-touch-icon" href="/static/img/apple-touch-icon_152px.png">

<style type="text/css">
  body {
    padding-top: 24px;
    padding-bottom: 40px;
    }
</style>
<style type="text/css">
.divider-vertical {
height: 50px;
margin: 0 7px;
border-left: 1px solid #F2F2F2;
border-right: 1px solid #FFF;
}</style>

<!-- Latest compiled and minified JavaScript -->
<script src="/static/js/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="/static/js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script>  
  $(document).ready(function() {
  $('.dropdown-toggle').dropdown();
  });
</script>
    
</head>

<body ng-app="viz">
  <div class="navbar-wrapper">
    <div class="container">  
      <nav class="navbar navbar-default" role="navigation">
          <strong>
	    <span class="navbar-brand pt-title" 
		  style="font-family: 'Nunito', sans-serif;">
	      GeoPhyZViZ
	    </span>
	  </strong>
          <ul class="nav navbar-nav hidden-xs">
          </ul>
	  <ul class="nav navbar-nav hidden-xs">
          </ul>
      </nav>
    </div>
  </div>


    <!-- Main
    ================================================== -->
    
      {% block content %} CONTENT GOES HERE {% endblock %}


    <!-- Footer
    ================================================== -->


    <!-- Javascript at end for speed
    ================================================== -->
<script src="/static/js/bower_components/angular/angular.min.js"></script>
<script src="/static/js/bower_components/flexslider/jquery.flexslider.js"></script>
<script src="/static/js/bower_components/angular-flexslider/angular-flexslider.js"></script>
<script src="/static/js/bower_components/angular-strap/dist/angular-strap.min.js"></script>
<script src="/static/js/bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
<script src="/static/js/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/static/js/bower_components/d3/d3.min.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/bower_components/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<link rel="stylesheet" href="/static/js/bower_components/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" type="text/css">
</body>
</html>





















