{% extends "base_template.html" %}

{% block title %}GeoPhyZViZ{% endblock %}
{% block content %}


<div ng-app="viz" ng-controller="controller">
  <div class="container">
    <div class="panel-heading">
      <h1 class="panel-title">Emphasize your favourites by moving them to the center,  delete the charlatons!</h1>
    </div>
    <div class="row">

      <div class="col-lg-8">

        <svg id="viz" width="600" height="1000">
          <g>
            <image id="test" height="40" width="40" x="0" y="0"
                   xlink:href="data:image/png;base64,{{image}}">
          </g>
          <circle cx="350" cy="300" r="20" fill="blue">
            
        </svg>

      </div>
      <div id="papers" class="col-lg-4">
        <div class="panel-heading">
          <h2>CHECK OUT THE GOODS!</h2>
        </div>

      </div>
      
    </div>
  </div>
</div>

{% endblock %}
